.textInput {
  font-size: larger;
  color: hsla(0, 0%, 100%, 0.89);
  background-color: hsl(0, 0%, 28%);
  border-width: 1px;
  border-radius: 8px;
  border-color: hsla(0, 0%, 100%, 0.301);
  border-width: 3px;
  border-style: solid;
  outline: none;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.textInput::placeholder {
  color: hsla(0, 0%, 100%, 0.479);
}
.textInput:hover {
  border-color: hsla(0, 0%, 100%, 0.493);
}
.textInput:focus {
  border-color: hsla(0, 0%, 100%, 0.637);
  background-color: hsl(0, 0%, 26%);
}

.numberInput {
  font-size: larger;
  color: hsla(0, 0%, 100%, 0.89);
  background-color: hsl(0, 0%, 28%);
  border-width: 1px;
  border-radius: 8px;
  border-color: hsla(0, 0%, 100%, 0.301);
  border-width: 3px;
  border-style: solid;
  outline: none;
  width: 100px;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.numberInput::placeholder {
  color: hsla(0, 0%, 100%, 0.479);
}
.numberInput:hover {
  border-color: hsla(0, 0%, 100%, 0.493);
}
.numberInput:focus {
  border-color: hsla(0, 0%, 100%, 0.637);
  background-color: hsl(0, 0%, 26%);
}

.blockButton {
  margin-top: 5px;
  max-width: 205px;
  display: flex;
  justify-content: space-between;
}

.calculateButton {
  font-weight: bolder;
  font-size: medium;
  color: hsla(0, 0%, 100%, 0.89);
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: hsl(0, 0%, 36%);
}
.calculateButton:hover {
  background-color: hsl(0, 0%, 32%);
}
.calculateButton:active {
  background-color: hsl(0, 0%, 38%);
}

.optionButton {
  font-weight: bolder;
  font-size: small;
  color: hsla(0, 0%, 100%, 0.89);
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: hsl(0, 0%, 36%);
  margin-top: 10px;
}
.optionButton:hover {
  background-color: hsl(0, 0%, 32%);
}
.optionButton:active {
  background-color: hsl(0, 0%, 38%);
}

ul {
  padding-left: 15px;
  list-style: none;
}

.checkboxLabel {
  user-select: none;
  color: hsla(0, 0%, 100%, 0.89);
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}
.customCheckbox {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 6px;
  background-color: hsla(0, 0%, 100%, 0.89);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 2px;
  position: relative;
}
input[type="checkbox"]:checked + .customCheckbox {
  background-color: hsl(0, 0%, 30%);
  border-color: hsl(0, 0%, 30%);
}
input[type="checkbox"]:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid hsla(0, 0%, 100%, 0.89);
  border-width: 0 2.3px 2.3px 0;
  transform: rotate(45deg);
}

.boxOutput {
  background-color: hsl(0, 0%, 30%);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.danger {
  font-size: large;
  font-weight: bold;
  background-color: rgba(255, 30, 0, 0.671);
  margin: 0;
  padding: 10px;
}

.outputText {
  margin: 0;
}

.inOut {
  user-select: none;
}

.hydra {
  margin-top: 5px;
}

.hydraSetting {
  text-align: right;
  width: 270px;
}

.hydraSize {
  width: 130px;
}

.sketchCanvas {
  overflow-x: auto;
}